# DB URL
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@postgres:5432/POSTGRES_DB

# JWT Configuration
JWT_ACCESS_SECRET=<JWT_ACCESS_SECRET>
JWT_REFRESH_SECRET=<JWT_REFRESH_SECRET>
JWT_ACCESS_EXPIRES_IN=<JWT_ACCESS_EXPIRES_IN> (e.g., 15m for 15 minutes)
JWT_REFRESH_EXPIRES_IN=<JWT_REFRESH_EXPIRES_IN> (e.g., 7d for 7 days)

# admin seeding credentials
ADMIN_SEED_EMAIL=<ADMIN_SEED_EMAIL>
ADMIN_SEED_PASSWORD=<ADMIN_SEED_PASSWORD>

# app configuration
PORT=<PORT>
NODE_ENV=<NODE_ENV> (development | production)

# cloudinary configuration
CLOUDINARY_CLOUD_NAME=<CLOUDINARY_CLOUD_NAME>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>

# stripe configuration
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>

# redis configuration
REDIS_HOST=<REDIS_HOST> (e.g., localhost)
REDIS_PORT=<REDIS_PORT> (e.g., 6379)
REDIS_PASSWORD=<REDIS_PASSWORD>

# smtp configuration 
SMTP_HOST=<SMTP_HOST>
SMTP_PORT=<SMTP_PORT>
SMTP_USER=<SMTP_USER>
SMTP_PASS=<SMTP_PASSWORD>

# email configuration
EMAIL_FROM=<EMAIL_SENDER_ADDRESS>
EMAIL_VERIFY_EXPIRES_IN=<verification_token_expiry_time> (e.g., 24h for 24 hours)
APP_BASE_URL=<APP_BASE_URL> (e.g., http://localhost:3000)

# for use in docker-compose.yml
POSTGRES_USER=<Database_User>
POSTGRES_PASSWORD=<Database_Password>
POSTGRES_DB=<Database_Name>
POSTGRES_HOST_PORT=<Database_Port> (e.g., 5432)