node_modules
# Keep environment variables out of version control
.env
dist/
prisma/*.db
/src/generated/prisma
.vscode
package-lock.json

# ignore terraform files
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/terraform.tfvars
terraform/terraform.tfvars.json